.pokedex {
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokedex-list-container {
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
