.list-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 1em;
}

.list-item-delete-button {
  background-color: #ffa372;
}

.list-item-delete-button:hover {
  opacity: 0.6;
}

.list-item-edit-button {
  background-color: #fff;
  color: #ffa372;
}

.list-item-edit-button:hover {
  background-color: #fff;
  opacity: 0.6;
}
