* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select {
  border: none;
  padding: 1em;
  background-color: #fff;
}

button {
  background-color: #ed6663;
  color: #fff;
  padding: 1em;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #ffa372;
}
